header{
    display: block;
}
header>img{
    width: 35%;
    margin: 1.5rem 9.75rem 1rem 9.75rem;
    
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    padding: 22px;
}
nav{
    display: flex;
    justify-content: center;
}
nav a:hover{
    color: #0400ff;
    text-decoration: none;
}
body{
    background-color: black;
    color: white;
    font-family: lexend deca, sans-serif;
    
}
h1{
    color: black;
    font-family: Shrikhand, cursive;
    font-size: 6.75rem;
    -webkit-text-stroke: 1px rgb(51, 0, 255);
    margin: 2rem 10px 8rem;
    text-align: center;
    line-height:8rem ;
    text-shadow: 0px 0px 30px #2f00ff;
    
}
.education{
    position: relative;
    z-index: 2;
}
.circle{
    background-color: blue;
    border-radius: 50%;
    width: 275px;
    height: 275px;
    position: absolute;
    top: 95%;
    left: 40%;
    z-index: 1;
    opacity: 0.75;
}
.about{
    margin: 0 1rem 0 1rem;
}
.myart{
    font-size: 5.5rem;
    margin-bottom: 0rem;
}
section>img{
    max-width: 90%;
    margin: 1rem 0.5rem 4.5rem 1.25rem;
}
.contact>div{
    background-color: #0400ff;
    padding: 0.5rem 0 0.5rem 1rem;
}
@media (min-width: 500px) {
    header>img{
        margin: 1rem 0 1rem 1rem;
        width: 10%
    }
    nav{
        display: flex;
        justify-content: flex-end;
        position:absolute;
        top: 1rem;
        right: 1rem;
    }
    h1{
        font-size: 10rem;
    }
    .myart{
        font-size: 10rem;
        padding-bottom: 4rem;
    }
    section>img{
        max-width: 40%;
        padding: 1rem;
       
    }
    .pieces{
        margin-left: 8rem;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
       max-height: 10rem;

    }
    .circle{
    background-color: blue;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 76%;
    left: 55%;
    z-index: 1;
    opacity: 0.75;
}
     
}

